[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
databases = "*"
python-dotenv = "*"
psycopg2 = "*"
asyncpg = "*"
gunicorn = "*"
uvicorn = "*"
pydantic = "*"
alembic = "*"
username = "*"

[dev-packages]

[requires]
python_version = "3.8"
